@import url(./style.css);

/*FORMULARIO */

.formulario {
  margin: 2em 0;
  border: 2px solid rgba(0, 0, 0, 0.435);
  padding: 20px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
}
.formulario form {
  text-align: start;
  display: flex;
  gap: 5px;
  flex-flow: column wrap;
  justify-content: center;
}

.formulario form input {
  border: 1px solid #00000012;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #00000012;
}

textarea {
  margin-top: 10px;
  padding: 10px;
}

label {
  font-weight: bold;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.btn-input-black {
  max-width: 100px;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
}
.btn-input-white {
  max-width: 100px;
  background-color: var(--blanco-fondo);
  color: var(--negro);
  cursor: pointer;
}

.btn-input-white,
.btn-input-black {
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
}

.btn-input-white:hover {
  box-shadow: 1px 1px 1px 1px #121212;
}

.btn-input-black:hover {
  color: var(--negro);
  background-color: var(--blanco-fondo);
  box-shadow: 1px 1px 1px 1px #121212;
  transition: 0.1s;
}
